.container{
    width: 40rem;
    height: 35rem;
    position: relative;
    left: 20rem;
    top: 3rem;
    border: 2px solid black;
    z-index: -1;
    background-color: black;
  
}
.inner-box{
    width: 35rem;
    height: 30rem;
    position: relative;
    left: 2.4rem;
    top: 2.5rem;
    border: 2px solid black;
    z-index: 1;
    background-color: burlywood;
  
}
.circle1{
    width:3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid burlywood;
    background-color: black;

}
 .circle2{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        left: 31.2rem;
        bottom:3.7rem;
    
    }
.circle3{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        top: 18.7rem;
        
    
    }
.circle4{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        left: 31.2rem;
        top: 15rem;
    
    }