.container{
    width: 45rem;
    height: 41rem;
    position: relative;
    left: 20rem;
    
    border: 2px solid black;
    z-index: -1;
    background-color: black;
  
}
.inner-box{
    width: 40rem;
    height: 36rem;
    position: relative;
    left: 2.4rem;
    top: 2.3rem;
    border: 2px solid black;
    z-index: 1;
    background-color: burlywood;
  
}
.circle1{
    width:3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid burlywood;
    background-color: black;

}
 .circle2{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        left: 36.2rem;
        bottom:3.7rem;
    
    }
.circle3{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        top: 24.7rem;
        
    
    }
.circle4{
        width:3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 2px solid burlywood;
        background-color: black;
        position: relative;
        left: 36.2rem;
        top: 21rem;
    
    }
.base1{
    width: 23rem;
    height: 2rem;
    border: 2px solid black;
    position: relative;
    left:8.3rem;
    bottom: 8.5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-left: none;
    border-right: none;
    
    
}
.base2{
    width: 23rem;
    height: 2rem;
    border: 2px solid black;
    position: relative;
    left:8.3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    top: 10rem;
    border-left: none;
    border-right: none;
}
.base3{
    width: 16rem;
    height: 2rem;
    border: 2px solid black;
    position: relative;
    bottom: 2.4rem;
    right:1rem;
    transform: rotateZ(90deg);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-left: none;
    border-right: none;
    
}
.base4{
    width: 16rem;
    height: 2rem;
    border: 2px solid black;
    position: relative;
    bottom: 4.9rem;
    left:24.9rem;
    transform: rotateZ(90deg);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-left: none;
    border-right: none;
    
}
.line1{
    border: 1px solid maroon;
    width: 0;
    height: 10rem;
    transform: rotateZ(45deg);
    position: relative;
    bottom: 2.5rem;
    left:8.7rem;
}
.line2{
    border: 1px solid maroon;
    width: 0;
    height:10rem;
    transform: rotateZ(45deg);
    position: relative;
    bottom: 31rem;
    left:32.5rem;
}
.line3{
    border: 1px solid maroon;
    width: 0;
    height: 10rem;
    transform: rotateZ(-45deg);
    position: relative;
    left:8rem;
    bottom:40rem;
   
}
.line4{
    border: 1px solid maroon;
    width: 0;
    height: 10rem;
    transform: rotateZ(-48deg);
    position: relative;
    left:32.3rem;
    bottom:32rem;
   
}
.center{
    width:7rem;
    height:7rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position:relative;
    left:16.5rem;
    bottom: 50rem;
}
.cross1{
    width:7rem;
    height: 0;
    border:2px solid black;
    transform: rotateZ(90deg);
    position: relative;
    top:3.4rem;

}
.cross2{
    width:6.9rem;
    height: 0;
    border:2px solid black;
    
    position: relative;
    top:3.2rem;
    right:0.1rem;

}
.cross3{
    width:6.9rem;
    height: 0;
    border:2px solid black;
    transform: rotateZ(45deg);
    position: relative;
    top:2.9rem;

}
.cross4{
    width:6.9rem;
    height: 0;
    border:2px solid black;
    transform: rotateZ(-45deg);
    position: relative;
    top:2.7rem;

}
.arc1{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    border: 2px solid maroon;
    position: relative;
    bottom:63rem;
    left:26.7rem;
    border-right:none;
    transform: rotateZ(-45deg);
}
.arc2{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    border: 2px solid maroon;
    position: relative;
    bottom:55.1rem;
    left:26.7rem;
    border-right:none;
    transform: rotateZ(30deg);
}
.arc3{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    border: 2px solid maroon;
    position: relative;
    bottom:60.2rem;
    left:8.1rem;
    border-right:none;
    transform: rotateZ(135deg);
}
.arc4{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    border: 2px solid maroon;
    position: relative;
    bottom:78.8rem;
    left:8.1rem;
    border-right:none;
    transform: rotateZ(-140deg);
}
.base1-1{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    bottom:0.1rem;
}
.base1-2{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    left: 20.8rem;
    bottom:2.2rem;
}
.base2-1{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    bottom:0.1rem;
}
.base2-2{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    left: 20.8rem;
    bottom:2.2rem;
}
.base3-1{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    bottom: 0.1rem;
}
.base3-2{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    left: 13.8rem;
    bottom:2.2rem;
}
.base4-1{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    bottom: 0.1rem;
}
.base4-2{
    width:2rem;
    height:1.9rem;
    border-radius: 50%;
    background-color: maroon;
    border: 2px solid black;
    position: relative;
    left: 13.8rem;
    bottom:2.2rem;
}
.triangle1{
    width:1rem;
    height: 1rem;
    transform: rotateZ(-45deg);
    border: 2px solid black;
    background-color:maroon;
    position: relative;
    top:9.5rem;
    right:0.6rem;

}
.triangle2{
    width:1rem;
    height: 1rem;
    transform: rotateZ(-45deg);
    border: 2px solid black;
    background-color:maroon;
    position: relative;
    right:0.6rem;

}
.triangle3{
    width:1rem;
    height: 1rem;
    transform: rotateZ(-45deg);
    border: 2px solid black;
    background-color:maroon;
    position: relative;
    right:0.6rem;

}
.triangle4{
    width:1rem;
    height: 1rem;
    transform: rotateZ(-45deg);
    border: 2px solid black;
    background-color:maroon;
    position: relative;
    top:9.5rem;
    right:0.6rem

}
.point1{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom:37rem;
    left: 4rem;
}
.point2{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 39rem;
    left: 4rem;
}
.point3{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 41rem;
    left: 4rem;
}
.point4{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 43rem;
    left: 4rem;
}
.point5{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 45rem;
    left: 4rem;
}
.point6{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color:whitesmoke;
    bottom: 68rem;
    left: 66rem;
}
.point7{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color:whitesmoke;
    bottom: 70rem;
    left: 66rem;
}
.point8{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 72rem;
    left: 66rem;
}
.point9{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 74rem;
    left: 66rem;
}
.point10{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: whitesmoke;
    bottom: 76rem;
    left: 66rem;
}
.point11{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 100rem;
    left: 12rem;
    opacity: 0.8;
}
.point12{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 102rem;
    left: 12rem;
    opacity: 0.8;
}
.point13{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 104rem;
    left: 12rem;
    opacity: 0.8;
}
.point14{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid  whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 106rem;
    left: 12rem;
    opacity: 0.8;
}
.point15{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 108rem;
    left: 12rem;
    opacity: 0.8;
}
.point16{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 131rem;
    left: 74rem;
    opacity: 0.8;
}
.point17{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 133rem;
    left: 74rem;
    opacity: 0.8;
}
.point18{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 135rem;
    left: 74rem;
    opacity: 0.8;
}
.point19{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 137rem;
    left: 74rem;
    opacity: 0.8;
}
.point20{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 6px 6px 6px rgb(12, 24, 12);
    position: relative;
    background-color: black;
    bottom: 139rem;
    left: 74rem;
    opacity: 0.8;
}
.queen{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px black ;
    background-color: rgb(231, 48, 48);
    position: relative;
    bottom: 138rem;
    left:8rem;
}
.stricker{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 6px black;
    background-color: blue;
    position: relative;
    bottom: 144rem;
    left:69rem;
}